<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NodeJS Pianobar Frontend</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/main.css">
</head>
<body>
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#stations">
						<span class="sr-only">Toggle Stations</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<p class="navbar-brand">Patiobar</p>
				</div>

				<div class="text-center collapse navbar-collapse" id="stations">
				</div>
		</div>
	</nav> <!-- End navbar -->

	<div class="container">




			<div id="player" class="center-block">
				<div class="text-center">
					<img class="center-block img-rounded img-responsive" id="coverArt" />

					<div id="details">
						<button type="button" id="love" class="pull-left btn btn-default" onclick="sendCommand('+');"> <span class="glyphicon glyphicon-thumbs-up"></span> </button>
						<button type="button" class="pull-right btn btn-default" onclick="sendCommand('-');"> <span class="glyphicon glyphicon-thumbs-down"></span> </button>

						<p id="title" class="media-heading"></p>
						<p id="albumartist"></p>

					</div>


           			<div id="controls">
           			        <div class="btn-group"> <button type="button" class="btn btn-default" onclick="sendCommand('p');">
           			                <span class="glyphicon glyphicon-pause"></span>
           			        </button> </div>
           			        <div class="btn-group"> <button type="button" class="btn btn-default" onclick="sendCommand('n');">
           			                <span class="glyphicon glyphicon-fast-forward"></span>
           			        </button> </div>
           			        <div class="btn-group"> <button type="button" class="btn btn-default" onclick="sendCommand('(');">
           			                <span class="glyphicon glyphicon-volume-down"></span>
           			        </button> </div>
           			        <div class="btn-group"> <button type="button" class="btn btn-default" onclick="sendCommand(')');">
           			                <span class="glyphicon glyphicon-volume-up"></span>
           			        </button> </div>
           			</div>

					
				</div>
			</div> <!-- End Player -->


	</div>


<script src="/socket.io/socket.io.js"></script>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/main.js"></script>
</body>
</html>
