<!doctype html>
<html lang="en" ng-app="patiobarApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<title>Patiobar</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-icons.css">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation" ng-controller="StationController">
			<div class="container-fluid">
				<a class="navbar-brand" href="https://github.com/kylejohnson/Patiobar">Patiobar</a>
				
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#stations" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="text-center collapse navbar-collapse" id="stations">
					<button type="button" ng-repeat="station in stations" class="btn btn-sm btn-outline-secondary" ng-click="changeStation(station.id);" ng-class="{'btn-outline-success': stationName == station.name}">{{station.name}}</button>
				</div> 
			</div> <!-- End container-fluid -->
		</nav> 
	
		<div class="container" ng-controller="SongController">
			<div id="player" class="center-block">
				<div class="text-center">
					<img class="center-block img-thumbnail img-fluid" id="coverArt" ng-src="{{src}}" alt="{{alt}}">
	
					<div id="details">
						<p id="title" class="media-heading">{{title}}</p>
						<p id="albumartist">{{albumartist}}</p>
					</div>
	
	     		<div id="controls">
						<button type="button" id="love" class="pull-left btn btn-primary bi-hand-thumbs-up" ng-click="sendCommand('+');"> </button>
						<button id="pauseplay" type="button" class="btn btn-primary bi-pause-btn" ng-click="sendCommand('p');"> </button>
						<button type="button" class="btn btn-primary bi-skip-forward" ng-click="sendCommand('n');">  </button> 
						<button type="button" class="btn btn-primary bi-volume-down" ng-click="sendCommand('(');">  </button>
						<button type="button" class="btn btn-primary bi-volume-up" ng-click="sendCommand(')');">  </button>
						<button type="button" title="Tired (shelve for a month)" class="btn btn-primary bi-calendar" ng-click="sendCommand('t');"> </button>
						<button type="button" class="pull-right btn btn-primary bi-hand-thumbs-down" ng-click="sendCommand('-');"> </span> </button>
					</div>
				</div> <!-- End text-center -->
			</div> <!-- End Player -->
		</div> <!-- End container (SongController) -->


		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/jquery-2.1.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
		<script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
